table {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 20px;
}
caption {
  border: 1px black solid;
  border-bottom: none;
}
td,
th {
  border: 1px black solid;
}
.weekends {
  color: red;
}
