.bonus{
    margin-top: 302px;
    position: relative;
    overflow: visible;
    margin-bottom: 235px;
}

.bonus::before{
    content: "";
    position: absolute;
    width: 1000px;
    height: 1214px;
    left: -240px;
    top: -180px;
    background: url(../img/left-decor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

.bonus::after{
    content: "";
    position: absolute;
    width: 1000px;
    height: 1214px;
    right: -270px;
    top: -180px;
    background: url(../img/right-decor.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

.bonus__title{
font-weight: 700;
font-size: 200px;
line-height: 117%;
text-align: center;
background: linear-gradient(180deg, #4b5951 0%, rgba(61, 82, 70, 0.1) 98.9%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.bonus__subtitle{
    position: relative;
    bottom: 80px;
font-weight: 700;
font-size: 70px;
line-height: 122%;
text-align: center;
color: #fff;
}

.bonus__text{
font-weight: 400;
font-size: 25px;
line-height: 158%;
text-align: center;
color: #fff;
}

.bonus__button{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 60px;
}

.bonus__button-accent{
border-radius: 20px;
width: 376px;
height: 106px;
border-radius: 20px;
width: 376px;
height: 106px;
font-weight: 700;
font-size: 22px;
line-height: 159%;
text-align: center;
color: #000;
box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
background: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%);
}

.bonus__button-def{
font-weight: 400;
font-size: 22px;
line-height: 159%;
color: #e7e7e7;
border: 4px solid #ce6a33;
border-radius: 20px;
width: 376px;
height: 106px;
}

@media (width < 776px){
    .bonus__title{
        font-size: 107px;
    }
}