@font-face {
    font-family: GothamPro;
    src: local("GothamPro Light"), local("GothamPro-Light"),
      url("../fonts/GothamPro-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

@font-face {
    font-family: GothamPro;
    src: local("GothamPro"), local("GothamPro-Regular"),
      url("../fonts/GothamPro.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: GothamPro;
    src: local("GothamPro Medium"), local("GothamPro-Medium"),
      url("../fonts/GothamPro-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: GothamPro;
    src: local("GothamPro SemiBold"), local("GothamPro-SemiBold"),
      url("../fonts/GothamPro-Bold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: latinCT-wide;
    src: url(../fonts/latinCT-wide.woff2) format("woff2");
    font-weight: 400;
    font-size: 12px;
    line-height: 119%;
    letter-spacing: 0.03em;
    color: #fff;
  }