.footer__container{
    display: flex;
    background: #202020;
    padding: 94px 95px 115px 251px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    margin-top: 138px;
    position: relative;
    z-index: 1;
}

.footer__logo{
    margin-bottom: 21px;
}

.footer__link{
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

.footer__start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
}

.footer__end{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__text{
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: right;
    color: #fff;
    margin-bottom: 20px;
}

.footer__number{
    margin-bottom: 39px;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    text-align: right;
    color: #fff;
}

.footer__button{
    font-weight: 500;
    font-size: 22px;
    line-height: 159%;
    color: #000;
    border-radius: 20px;
    width: 274px;
    height: 71px;
    box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    background: linear-gradient(86deg, #dd6c30 0%, #e38049 54.17%, #ffbe80 75%, #e49131 100%);
}

@media (width <= 1024px){
    .footer__container{
        padding: 80px 48px 80px 48px;
        margin-top: 100px;
    }

    .footer__end{
        align-items: flex-start;
    }

    .footer__text,
    .footer__number{
        text-align: left;
    }
}

@media (width <= 640px){
    .footer__container{
        flex-direction: column;
        padding: 48px 24px;
        gap: 32px;
        margin-top: 72px;
    }

    .footer__start,
    .footer__end{
        align-items: flex-start;
    }

    .footer__button{
        width: 220px;
        height: 56px;
        font-size: 16px;
    }
}

.footer__decor{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    pointer-events: none;
}

@media (width <= 1024px){
    .footer__decor{
        width: 100%;
        left: 0;
        bottom: -40px;
    }
}

@media (width <= 640px){
    .footer__decor{
        width: 100%;
        left: 0;
        bottom: 420px;
    }
}

.footer{
    position: relative;
}