@import "./global.css";
@import "./normalize.css";
@import "./vars.css";
@import "./fonts.css";
@import "./header.css";
@import "./promo-banner.css";
@import "./offer.css";
@import "./investment-hero.css";
@import "./instrument-hero.css";
@import "./steps.css";
@import "./bonus.css";
@import "./features.css";
@import "./backpack.css";
@import "./investment-phone.css";
@import "./faq.css";
@import "./application.css";
@import "./footer.css";
