.instrument-hero{
    margin-top: 162px;
}

.instrument-hero__title{
font-weight: 700;
font-size: 70px;
line-height: 117%;
text-align: center;
color: #fff;
margin-bottom: 93px;
}

@media (width < 575px){
    .instrument-hero__title{
        font-size: 55px;
    }
}
@media (max-width: 422px){
    .instrument-hero__title{
        font-size: 43px;
    }
}