.offer{
    position: relative;
    padding-bottom: 220px;
}
.offer__container{
    margin-top: 39px;
}

.offer::before{
    content: "";
    position: absolute;
    bottom: 180px;
    z-index: -1;
    width: 42px;
    top: 380px;
    left: calc(50% - 843.5px);
    height: 163px;
    background: url(../icon/Arrow-offer.png);
}

.offer::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: -227px;
    right: -50px;
    width: 1204px;
    height: 1411px;
    background: url(../img/phone-decor.png);
}

.offer__benefits{
    flex-wrap: nowrap;
    list-style: disc;
    list-style-position: outside;
    padding-inline-start: 2.25em;
}

.offer__items{
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 30px;
    line-height: 159%;
    color: #eae9e9;
}

.offer__title{
    width: 1003px;
font-weight: 700;
font-size: 72px;
line-height: 117%;
background: linear-gradient(132deg, #fff 0%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 13px;
}

.offer__button{
    display: flex;
    gap: 20px;
}

.offer__user{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}
.offer__user-img{
    width: 100px;
    height: 48px;
}
.offer__user-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #eae9e9;
}
.offer__button-accent{
    position: relative;
    padding: 0 24px;
    padding-right: 40px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #000;
    border-radius: 20px;
    width: 378px;
    height: 106px;
    box-shadow: inset 0 -4px 0 0 #8f4119, 0 3px 49px -3px rgba(226, 128, 72, 0.76);
    background: linear-gradient(57deg, #dc6b30 0%, #e4864f 42.19%, #ffbe82 72.92%, #e49031 100%);
}
.offer-doc{
    position: absolute;
    z-index: 0;
    bottom: 10px;
    left: calc(50% - 400.5px + 510px);
    width: 101px;
    height: 94px;
}

.offer__button-def{
border-radius: 20px;
width: 377px;
height: 106px;
border: 4px solid #CE6933;
color: #fff;
font-weight: 400;
font-size: 22px;
line-height: 159%;
text-align: center;
color: #fff;
}

@media (width <= 576px) {
  .offer::after{
    left: calc(var(--container-padding));
    bottom: 140px;
    transform: scale(0.9);
  }
  .offer-doc{
    left: auto;
    right: -10px;
    bottom: 9px;
    width: 28px;
    height: 26px;
  }
  
  .offer__button-accent{
    border-radius: 4px;
    width: 111px;
    height: 31px;
    font-weight: 500;
    font-size: 7px;
    text-align: center;
    color: #000;
  }
  .offer__title{
    font-size: 30px;
    line-height: 120%;
  }
  .offer__items{
    font-size: 16px;
    line-height: 140%;
  }
  .offer__user-img{
    width: 90px;
    height: 40px;
  }
  .offer__user-text{
    font-size: 14px;
  }
}

.offer__flex{
    display: flex;
}

.offer__png{
    max-width: 872.58px;
}

.offer__decor{
    position: absolute;
    z-index: -1;
    width: 484px;
    height: 478px;
}

.offer__user{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 68px;
}

@media (width <= 1468px){
    .offer::after{
        top: 370px;
        right: -512px;
    }
    .offer::before{
        display: none;
    }
}

@media (width > 576px) and (width <= 1024px){
    .offer__flex{
        flex-direction: column;
    }

    .offer__title{
        width: auto;
        font-size: 48px;
        line-height: 120%;
    }

    .offer__items{
        font-size: 20px;
    }

    .offer__button{
        flex-wrap: wrap;
    }

    .offer__button-accent,
    .offer__button-def{
        width: 260px;
        height: 72px;
        font-size: 16px;
    }

    .offer__user{
        margin-top: 32px;
    }
}

@media (width <= 576px){
    .offer__button-def{
        border-width: 1px;
        border-radius: 4px;
        width: 109px;
        height: 31px;
        font-weight: 400;
        font-size: 7px;
        color: #fff;
    }
    .offer__title{
        width: 279px;
        margin-left: 43px;
font-weight: 700;
font-size: 30px;
line-height: 117%;
background: linear-gradient(132deg, #fff 0%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    }
    .offer__items{
        margin-bottom: 12px;
    }
    .offer__benefits{
        margin-left: 23px;
    }
    .offer__button{
        gap: 8px;
        margin-left: 40px;
        margin-top: 8px;
    }
    .offer__button-accent{
        box-shadow: none;
    }
    .offer__user{
        margin-left: 40px;
        margin-top: 15px;
    }
    .promo-banner__img{
        margin-top: 23px;
    }
    .offer::after{
        display: none;
    }
    .offer__for-phone{
        position: absolute;
        top: 370px;
        left: 110px;
    }
    
}
@media (width > 576px){
    .offer__for-phone{
        display: none;
    }
}
