.promo-banner{
    margin-top: 23px;
    margin-bottom: 39px;
}
.promo-banner__container{
    display: flex;
    width: 100%;
    height: 105px;
    background: linear-gradient(126deg, rgba(255, 255, 255, 0.089) 0%);
    align-items: center;
    border-radius: 19px;
    padding: 0 12px;
    margin-inline: auto;
}

.promo-banner__content{
    flex: 1;
}

.promo-banner__img{
    width: 64px;
    height: 64px;
    margin-left: 9px;
    margin-right: 10px;
}

.promo-banner__title{
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

.promo-banner__text{
font-weight: 400;
font-size: 18px;
color: #eae9e9;
}

.promo-banner__timer{
    margin-left: auto;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: -0.08em;
    color: #fff;
}

@media (width <= 576px) {
  .promo-banner{
    margin-top: 16px;
    margin-bottom: 0;
  }
  .promo-banner__container{
    height: auto;
    padding: 12px;
    gap: 12px;
    align-items: flex-start;
    position: relative;
    width: 432px;
    width: 442px;
  }
  .promo-banner__content{
    flex: 1 1 auto;
    padding-top: 28px;
    width: 100%;
  }
  .promo-banner__timer{
    position: absolute;
    top: 12px;
    left: 12px;
    margin: 0;
    font-size: 16px;
    letter-spacing: -0.02em;
    font-weight: 600;
    order: 0;
  }
  .promo-banner__img{
    width: 32px;
    height: 32px;
    margin: 0 0 0 auto;
    order: 3;
    margin-top: 40px;
    }
  }
  .promo-banner__title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
  }
  .promo-banner__text{
    font-weight: 500;
    font-size: 11px;
    line-height: 140%;
  }

@media (width > 576px) {
  .promo-banner__container{
    justify-content: space-between;
    width: 1501px;
  }
}

@media (width > 576px) and (width <= 1000px){
  .promo-banner__container{
    width: 1150px;
  }
}
