.flex-head {
  max-width: 1720px;
  margin: 0 auto;
  border-bottom: 1px black solid;
  padding: 20px 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.flex-elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.links {
  margin-left: 35%;
  margin-right: 35%;
}
.link {
  padding: 10px;
  color: black;
  text-decoration: none;
}
