@media (width > 576px){
    .air-mag{
        padding-bottom: 93px;
    }
    .air-mag__title{
        margin-bottom: 10px;
    }
}
@media (width <= 576px){
    .air-mag{
        padding-bottom: 80px;
    }
    .air-mag__title{
        margin-bottom: 20px;
}
}
.air-mag__title {
  margin-bottom: 10px;
}
.air-mag__description{
    display: flex;
    gap: 13px;
}
.air-mag__description::before{
    content: "";
    display: block;
    flex-shrink: 0;
    width: 131px;
    height: 40px;
    transform: translateX(-13px);
    background-image: url(../../icons/air-mag-decor-icon.svg);
}
@media (width > 768px){
    .air-mag__description{
        margin-bottom: 20px;
    }
}
@media (width <= 768px){
    .air-mag__description{
        flex-direction: column;
        margin-bottom: 15px;
    }
}
.air-mag__info-wrapper{
    display: flex;
}
@media (width > 992px){
    .air-mag__info-wrapper{
        gap: 40px;
    }
}
@media (width <= 992px){
    .air-mag__info-wrapper{
        flex-direction: column;
    }
}
.air-mag__list-info{
    display: flex;
    flex-direction: column;
}
@media (width > 992px){
    .air-mag__list-info{
        gap: 40px;
        max-width: 293px;
       transform: translateY(71px);
       flex-shrink: 0;  
    }
}
@media (width <= 992px){
    .air-mag__list-info{
        max-width: 700px; 
        gap: 20px;
    }
}
.air-mag__info-item::before{
    content: "";
    display: block;
    width: 46px;
    height: 34px;
    margin-bottom: 5px;
    transform: translateX(-8px);
background-image: url("../../icons/check-check.svg");
}
.air-mag__info-img{
    width: 100%;
}