.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article__section {
  display: block;
}

.article__section--mb-large {
  margin-bottom: 80px;
}

.article__section--mb-medium {
  margin-bottom: 40px;
}

.article__section-inner {
  display: block;
}

.article__title {
  display: block;
}

.article__title--large {
  display: block;
}

.article__title--medium {
  font-size: 36px;
}

.article__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article__text:last-child {
  margin-bottom: 0;
}

.article__decor-wrapper {
  position: relative;
}

.article__decor-wrapper--position-1::before {
  top: 100px;
  left: 0;
}

.article__decor-wrapper--position-2::before {
  right: 0;
  bottom: 136px;
}

.article__decor-wrapper--mb-medium {
  margin-bottom: 40px;
}

.article__image {
  display: block;
}

.article__list {
  margin-top: 0;
  padding-left: 16px;
  list-style: disc;
}

.article__list-item:not(:last-child) {
  margin-bottom: 12px;
}

.article__list-item::marker {
  font-size: 22px;
  color: #3596ed;
}

.article__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.article__play-button:hover {
  background-color: #38a2ff;
}

.article__play-button:not(:disabled):active {
  background-color: #2d82cd;
}

.article__play-icon {
  display: block;
}

@media (width <= 768px) {
  .article__decor-wrapper::before {
    display: none;
  }

  .article__title--medium {
    font-size: 32px;
  }

  .article__section--mb-large {
    margin-bottom: 60px;
  }
}

@media (width <= 576px) {
  .article {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .article__title--medium {
    font-size: 28px;
  }

  .article__section--mb-large {
    margin-bottom: 40px;
  }

  .article__decor-wrapper--mb-medium {
    margin-bottom: 30px;
  }

  .article__play-button {
    width: 50px;
    height: 50px;
  }

  .article__play-icon {
    width: 18px;
    height: 18px;
  }
}
