form {
  max-width: 300px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input,
textarea,
button {
  display: block;
  margin-bottom: 10px;
}
.checkbox {
  display: inline;
  margin-top: 10px;
  cursor: pointer;
}
textarea {
  max-width: 200px;
  max-height: 200px;
  min-width: 167px;
  min-height: 50px;
}
button {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 1;
}
